<div class="container-fluid vh-100 overflow-hidden">
  <div class="row flex-nowrap h-100">
    <!-- Sidebar -->
    <div class="col-auto col-md-3 col-xl-2 sidebarbg px-sm-2 px-0">
      <div id="sidebar" class="collapse d-md-block sidebar h-100">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <!-- All Stations Dropdown -->
            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded"
                data-bs-toggle="collapse"
                data-bs-target="#home-collapse"
                aria-expanded="false"
              >
                All Stations
              </button>
              <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <a
                      (click)="loadStation('all', 'all')"
                      class="link-dark rounded"
                      >All Stations</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('all', 'shell')"
                      class="link-dark rounded"
                      >Shell</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('all', 'mogas')"
                      class="link-dark rounded"
                      >Mogas</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('all', 'stabex')"
                      class="link-dark rounded"
                      >Stabex</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('all', 'independent')"
                      class="link-dark rounded"
                      >Independent</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('all', 'total')"
                      class="link-dark rounded"
                      >Total</a
                    >
                  </li>
                </ul>
              </div>
            </li>

            <!-- North Region Dropdown -->
            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded"
                data-bs-toggle="collapse"
                data-bs-target="#North-collapse"
                aria-expanded="false"
              >
                North
              </button>
              <div class="collapse" id="North-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <a
                      (click)="loadStation('North', 'all')"
                      class="link-dark rounded"
                      >All Stations</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('North', 'shell')"
                      class="link-dark rounded"
                      >Shell</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('North', 'mogas')"
                      class="link-dark rounded"
                      >Mogas</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('North', 'stabex')"
                      class="link-dark rounded"
                      >Stabex</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('North', 'independent')"
                      class="link-dark rounded"
                      >Independent</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('North', 'total')"
                      class="link-dark rounded"
                      >Total</a
                    >
                  </li>
                </ul>
              </div>
            </li>

            <!-- East Region Dropdown -->
            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded"
                data-bs-toggle="collapse"
                data-bs-target="#East-collapse"
                aria-expanded="false"
              >
                East
              </button>
              <div class="collapse" id="East-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <a
                      (click)="loadStation('East', 'all')"
                      class="link-dark rounded"
                      >All Stations</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('East', 'shell')"
                      class="link-dark rounded"
                      >Shell</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('East', 'mogas')"
                      class="link-dark rounded"
                      >Mogas</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('East', 'stabex')"
                      class="link-dark rounded"
                      >Stabex</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('East', 'independent')"
                      class="link-dark rounded"
                      >Independent</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('East', 'total')"
                      class="link-dark rounded"
                      >Total</a
                    >
                  </li>
                </ul>
              </div>
            </li>

            <!-- West Region Dropdown -->
            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded"
                data-bs-toggle="collapse"
                data-bs-target="#West-collapse"
                aria-expanded="false"
              >
                West
              </button>
              <div class="collapse" id="West-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <a
                      (click)="loadStation('West', 'all')"
                      class="link-dark rounded"
                      >All Stations</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('West', 'shell')"
                      class="link-dark rounded"
                      >Shell</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('West', 'mogas')"
                      class="link-dark rounded"
                      >Mogas</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('West', 'stabex')"
                      class="link-dark rounded"
                      >Stabex</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('West', 'independent')"
                      class="link-dark rounded"
                      >Independent</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('West', 'total')"
                      class="link-dark rounded"
                      >Total</a
                    >
                  </li>
                </ul>
              </div>
            </li>

            <!-- Central Region Dropdown -->
            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded"
                data-bs-toggle="collapse"
                data-bs-target="#Central-collapse"
                aria-expanded="false"
              >
                Central
              </button>
              <div class="collapse" id="Central-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <!-- Station options -->
                  <li>
                    <a
                      (click)="loadStation('Central', 'all')"
                      class="link-dark rounded"
                      >All Stations</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('Central', 'shell')"
                      class="link-dark rounded"
                      >Shell</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('Central', 'mogas')"
                      class="link-dark rounded"
                      >Mogas</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('Central', 'stabex')"
                      class="link-dark rounded"
                      >Stabex</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('Central', 'independent')"
                      class="link-dark rounded"
                      >Independent</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="loadStation('Central', 'total')"
                      class="link-dark rounded"
                      >Total</a
                    >
                  </li>

                  <!-- Sub Regions collapsible option -->
                  <li>
                    <button
                      class="btn btn-toggle align-items-center rounded"
                      data-bs-toggle="collapse"
                      data-bs-target="#CentralSubregions-collapse"
                      aria-expanded="false"
                    >
                      Central Sub Regions
                    </button>
                    <div class="collapse" id="CentralSubregions-collapse">
                      <ul
                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                      >
                        <li>
                          <a
                            (click)="loadStation('Central', 'subregionA')"
                            class="link-dark rounded"
                            >Sub Region A</a
                          >
                        </li>
                        <li>
                          <a
                            (click)="loadStation('Central', 'subregionB')"
                            class="link-dark rounded"
                            >Sub Region B</a
                          >
                        </li>
                        <li>
                          <a
                            (click)="loadStation('Central', 'subregionC')"
                            class="link-dark rounded"
                            >Sub Region C</a
                          >
                        </li>
                        <li>
                          <a
                            (click)="loadStation('Central', 'subregionD')"
                            class="link-dark rounded"
                            >Sub Region D</a
                          >
                        </li>
                        <li>
                          <a
                            (click)="loadStation('Central', 'subregionE')"
                            class="link-dark rounded"
                            >Sub Region E</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          <hr />
          <p class="mt-auto mb-3 text-primary text-center">© Brema Kalenge</p>

          <!-- Dropdown for options -->
          <div class="dropdown pb-4">
            <a
              href="#"
              class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="bi bi-three-dots-vertical"></span>
              <span class="d-none d-sm-inline mx-1">Options</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li class="d-none">
                <a class="dropdown-item" href="#"
                  ><span class="bi bi-plus me-2"></span> New Station</a
                >
              </li>
              <li class="d-none">
                <a class="dropdown-item" href="#"
                  ><span class="bi bi-person-circle me-2"></span> Profile</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" (click)="logout()"
                  ><span class="bi bi-power me-2"></span> Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col py-3 bg-light h-100">
      <div
        class="d-flex justify-content-center align-items-center h-100"
        *ngIf="!showMap"
      >
        <div class="col-md-6">
          <h1 class="title my-1 text-center">VIVO MAPS - UGANDA</h1>
          <h5 class="dashboardtitle mb-3 fw-normal">
            Discover All Petrol Stations In Uganda
          </h5>
          <img src="map.png" alt="Map Image" class="img-fluid" />
        </div>
      </div>

      <div>
        <h1>
          {{ title }}
          <button class="ms-5 btn btn-dark" (click)="clearMap()">
            Clear map
          </button>
        </h1>
        <div id="map" style="height: 680px; width: 100%"></div>
      </div>
    </div>
  </div>
</div>
